<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon.ico">

    <title>Task List</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/cedb42ffe4.css">
    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet">

</head>

<body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">All Tasks</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" id="addtask" >Add Task</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pending Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Completed Tasks</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid">

        <div class="modal fade" id="addtaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form role="form" action="/addtask/" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="date_provider" class="col-form-label">Due Date:</label>
                                <input name="nDateProvider" type="text" class="form-control" id="date_provider">
                            </div>
                            <div class="form-group">
                                <label for="taskdetail" class="col-form-label">Task:</label>
                                <textarea name="nTaskDetails" class="form-control" id="taskdetail"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <main role="main" class="col-sm-12 ml-sm-auto col-md-12 pt-3">
                <h1>Task Dashboard</h1>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th class="w-5">#</th>
                            <th class="w-80">Task</th>
                            <th class="w-10">Due by</th>
                            <th class="w-5"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tsk in alltsk %}
                            <tr>
                                <form role="form" action="" method="post">
                                    <input type="hidden" name="nIdentifier" id="Identifier" value={{tsk.id}}>
                                    <input type="hidden" name="nSelector" id="Selector" value="">
                                    <input type="hidden" name="nValue" id="Value" value={{tsk.todo_complete}}>
                                    <td  data-edtname={{tsk.id}}><span class="fa fa-square-o" aria-hidden="true"></span></td>
                                    <td class="writeup">{{ tsk.todo_detail }}</td>
                                    <td>{{ tsk.todo_duedt }}</td>
                                    <td class="text-center" data-delname={{tsk.id}}><span class="fa fa-trash-o" aria-hidden="true"></span></td>
                                </form>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>

    </div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/cust_todo.js"></script>

</body>
</html>
